@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

nav, section {
  @apply border-2 border-gradient;
}

.border-gradient {
  background: linear-gradient(to right, #ff69b4, #1e90ff, #ffd700, #7fff00);
  -webkit-background-clip: text;
  color: transparent;
}
